<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-2 sidebar" ng-controller="channelsCtrl">
                <h3 class="heading">Channels</h3>
                <div channels-list="items">

                </div>
            </div>

            <div class="col-md-10 content col-xs-10" ng-controller="videoController">
                <h2 class="header"><a ng-href="/channel/{{videoCategoryName[6]}}">{{videoCategoryName[6]}} Videos</a></h2>
                <video-list list={{videoList[6]}}></video-list>

                <h2 class="header"><a ng-href="/channel/{{videoCategoryName[5]}}">{{videoCategoryName[5]}} Videos</a></h2>
                <video-list list={{videoList[5]}}></video-list>

                <h2 class="header"><a ng-href="/channel/{{videoCategoryName[4]}}">{{videoCategoryName[4]}} Videos</a></h2>
                <video-list list={{videoList[4]}}></video-list>

                <h2 class="header"><a ng-href="/channel/{{videoCategoryName[3]}}">{{videoCategoryName[3]}} Videos</a></h2>
                <video-list list={{videoList[3]}}></video-list>

                <h2 class="header"><a ng-href="/channel/{{videoCategoryName[2]}}">{{videoCategoryName[2]}} Videos</a></h2>
                <video-list list={{videoList[2]}}></video-list>

                <h2 class="header"><a ng-href="/channel/{{videoCategoryName[1]}}">{{videoCategoryName[1]}} Videos</a></h2>
                <video-list list={{videoList[1]}}></video-list>

                <h2 class="header"><a ng-href="/channel/{{videoCategoryName[0]}}">{{videoCategoryName[0]}} Videos</a></h2>
                <video-list list={{videoList[0]}}></video-list>

                <!--
                <ul class="pager">
                    <li class="next">
                        <a class="next" ng-click="next()">Next</a>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </div>
</section>
