<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-2  sidebar" ng-controller="channelsCtrl">
                <h3 class="heading">Channels</h3>
                <div channels-list="items">

                </div>
            </div>

            <div class="col-md-10 col-xs-10 content" ng-controller="videoController">
                <h2 class="header">Popular Videos</h2>
                <video-list list={{videoList}}></video-list>
                <ul class="pager">
                    <li class="next">
                        <a class="next" ng-click="next()">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
